/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*HEADER*/

.header-wrapper{
  display: grid;
  grid-template-columns: 1fr 15% 30% 45% 1fr;
  grid-template-rows: 55px 10px 35px;
  grid-template-areas: 
  ". header-logo header-logo header-login ."
  "header-blank header-blank header-blank header-blank header-blank"
  ". header-nav header-nav header-searchcontainer ."; 
}


.header-background {
  width: 100%;
  max-height: 100px;
  background: transparent url(color.png) repeat-y;
  animation:animate linear 70s infinite alternate;
  background-size:cover;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.header-blank {
  grid-area: header-blank;
  background-color: white;
  z-index: 100;
}

@keyframes animate {
  from {background-position: 0px 900px;}
  to {background-position: 0px 0px;}
}


.header-logo {
  grid-area: header-logo;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%; 
  text-decoration: none;
}
.header-login {
  grid-area: header-login;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-login form {
  max-width: 500px;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.header-login form input {
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 30px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
}

.buttons {
    display: flex;
    order: 2;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #111;  
    line-height: 30px;              
    cursor: pointer;
    text-decoration: none;
} 

.buttons:hover {
    background-color: #ccc;
}

.username {
    order: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-right: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    text-decoration: none;

}

nav {
  grid-area: header-nav;
}

nav ul {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

nav ul li a{
    display: inline-flex;
    justify-content: center;
    align-items: center;  
    width: 60px;
    height: 30px;
    border: none;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #fff;            
    cursor: pointer;
}

nav ul li a:hover {
  background-color: black;
}

nav ul li a.active {
  border-bottom: 2px solid white;
}

/* HEADER-SEARCH */

.header-searchcontainer{
  grid-area: header-searchcontainer;
  display: flex;
  justify-content: flex-end;
  align-items: center;  

}

.header-searchimg{
  margin: auto;
  padding:5px;
  grid-column: 1/2;
  grid-row: 1/2;
  background: white url(search.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border:5px solid transparent;
  border-radius: 5px;
  height: 20px;
  width: 20px;
}


input.search[type=text] {
  display: flex;
  grid-area: input;
  position: absolute;
  height: 30px;
  width: 500px;
  margin-right: 10px;]
  box-sizing: border-box;
  background: #f3f3f3;
}

::placeholder { 
    text-align: center;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    content: "test";
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 5px;
    opacity: 1; 
}