/*HOME STYLE*/

#home-mastgrid {
    display: grid;
    grid-template-columns: 1fr 65% 15% 1fr;
    grid-template-rows: 50px 500px 1fr;
    grid-template-areas: 
    " . . ."
    " . home-title ."
    ". home-borderbox .";
  }

.home-title {
  grid-area: home-title;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2px; 
  margin: 5px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgba(255,182,153,100);
  font-size: 20px;
  letter-spacing: 5px;
}

.home-subtitle {
  grid-area: home-subtitle;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgba(255,182,153,1);
  font-size: 15px;
  letter-spacing: 5px;
}

.home-nav {
  grid-row: 2/3;
  grid-column: 3/4;
}

.home-navlink {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  height: 30px;
  width: 228px;
  background-color: transparent;
  margin-bottom: 50px;
  color: rgba(50,50,50,1);
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(50,50,50,.5);
  box-sizing: border-box; 
}

.home-arrow { 
  float: right;
  background: transparent url(arrow.png);
  background-size: contain;
  background-repeat:  no-repeat;        
  height: 30px;
  min-width: 30px;
  box-sizing: border-box; 

}





}
