/*HOME STYLE*/

.home-mastgrid {
    display: grid;
    grid-template-columns: 1fr 10% 35% 25% 10% 1fr;
    grid-template-rows: 50px 45px 200px 50px;
    border-bottom: 1px solid rgba(50,50,50,1)
    }

.home-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 2/3;
  grid-column: 2/4;
  letter-spacing: 2px; 
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgba(255,182,153,100);
  font-size: 20px;
  letter-spacing: 5px;
}

#home-subtitle-one {
  grid-row: 3/4;
  grid-column: 2/3;
  display:inline-block;
  float: right;
  text-align: right;
}


#home-subtitle-two {
  grid-row: 3/4;
  grid-column: 3/4;
  padding-left: 10px;
}


.home-collapse-button {
  float: right;
  position: absolute;
  z-index: 50;
  top: 445px;
  right: 0;
  margin:10px;
  height: 40px;
  width: 40px;  
  background:  white url(collapsearrowsup.png);
  background-size: 25px 25px;
  background-repeat:  no-repeat; 
  background-position: center;
  border: 1px solid rgba(50,50,50,1);
  border-radius: 5px;
  cursor: pointer;
}

.home-collapse-button.active {
    top: 100px;
    background:  white url(collapsearrowsdown.png);
    background-size: 25px 25px;
    background-repeat:  no-repeat; 
    background-position: center;
    opacity: .5;
    }

.home-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-row: 3/4;
  grid-column: 5/6;
}

.home-navlink {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: transparent;
  color: rgba(50,50,50,1);
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(50,50,50,.5);
  box-sizing: border-box; 
}

.home-arrow { 
  float: right;
  background: transparent url(arrow.png);
  background-size: contain;
  background-repeat:  no-repeat;        
  height: 30px;
  min-width: 30px;
  box-sizing: border-box; 
}

#home-video-thumbnail {
  grid-column: 4/6;
  grid-row: 3/4;
  margin: 0px 16px 16px 16px;
  background: transparent url(videothumbnail.jpg);
  background-size: 300px 168px;
  background-repeat:  no-repeat;
}

